* {
  color: #000d35;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.App {
  margin-top: 100px;
}

.App h1 {
  font-weight: 700;
  line-height: 40px;
}

.App p {
  font-size: 30px;
}

.App hr {
  border-top: 2px solid;
  color: #4d8fc3;
  opacity: 0.8;
}

.App footer {
  font-size: 11px;
  letter-spacing: 5px;
  margin: 50px 0;
  opacity: 0.8;
  text-transform: uppercase;
}

.App footer img {
  margin: 7px;
  max-width: 20px;
  transition: all 150ms ease-in-out;
}

.App footer img:hover {
  transform: scale(1.3);
}
