.Definition li {
  font-size: 24px;
  line-height: 1.5;
  margin-left: 40px;
  padding-bottom: 28px;
  position: relative;
  text-align: justify;
}

.Definition li::before {
  content: "●";
  color: #ef8a84;
  display: inline-block;
  left: -40px;
  margin: 0 10px 0 0;
  position: absolute;
}

.Definition .definition_end {
  color: #ef8a84;
  display: none;
}

@media (max-width: 767px) {
  .Definition li {
    font-size: 21px;
    margin: 0;
    text-align: center;
  }

  .Definition li::before {
    content: "";
  }

  .Definition .definition_end {
    display: block;
  }
}
