/* .Definition ol {
  padding: 0;
  margin-left: 20px;
 margin-top: 100px; 
  text-align: start;
  list-style-position: inside;
} */

.Definition li {
  padding-bottom: 28px;
  text-align: justify;
  line-height: 1.5;
  font-size: 24px;
  margin-left: 40px;
  position: relative;
}

.Definition li::before {
  content: "●";
  /* width: 10px;
  height: 10px;
  border-radius: 50%; */
  color: #ef8a84;
  /* color: #4d8fc3; */
  display: inline-block;
  margin: 0 10px 0 0;
  position: absolute;
  left: -40px;
}
