.Pronunciation button {
  background-color: transparent;
  border: none;
}

.Pronunciation {
  display: inline-flex;
  font-size: 16px;
  gap: 10px;
}

.Pronunciation .icon * {
  transition: all 150ms ease-in-out;
}

.Pronunciation .icon *:hover {
  color: #4d8fc3;
  transform: scale(1.2);
}

.Pronunciation h4 {
  align-items: center;
  display: flex;
  font-size: 16px;
  margin: 0;
  opacity: 0.8;
  padding-left: 10px;
}
