.Results h2 {
  font-size: 44px;
  font-style: italic;
  font-weight: 700;
  margin-right: 20px;
}

.Results .phonetic {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Results {
  background-color: #fff3eb;
  margin: 80px 0;
  padding: 80px;
}

@media (max-width: 767px) {
  .Results {
    margin: 20px 0;
    padding: 20px;
  }
  .Results .phonetic {
    display: block;
  }
  .Results h2 {
    margin: 0 0 20px;
    text-align: center;
  }
}
